.jumbotron--size {
  width: 50%;
}
.jumbotron {
  color: #f0f0f0;
  background-color: #141117;
  margin-top: 10%;
  width: 100%;
}
.adjust {
  width: 50%;
  height: auto;
}
.btn-primary {
  background-color: #570A04;
  border: #3e0a06;
  width: 100%;
  margin-top: 2rem;
}
.btn-primary:hover {
  background-color: #7d0f06;
}
.container-fluid {
  display: flex;
  justify-content: center;
}
.item {
  max-width: 100%;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.mycarousel{
  width: 100%;
  overflow: hidden;
}
.carousel-inner {
}

.carousel-caption {
  margin-bottom: 10rem;
}
.carousel-caption h1 {
  font-size: 6rem;
  color: white;
}
.big {
  font-size: 10rem;
  font-weight: bold;
  color: black;
}

.adjust-carousel{
}

.btn {
  padding: 2rem;
}
